html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: aliceblue;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

canvas {
    border: 2px solid red;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.cvsParent {
    width: 100%;
    height: 90%;
}

.status {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    color: lime;
    background-color: rgba(0, 0, 0, 0.7);
    user-select: none;
    pointer-events: none;
    display: flex;
    flex-direction: column;
}

.controls {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.buttons, .settings {
    margin-left: 15%;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls > div > * {
    padding: 4px 10px;
    outline: none;
}