html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: aliceblue;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

canvas {
    border: 2px solid red;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.cvsParent {
    width: 100%;
    height: 90%;
}

.status {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    color: lime;
    user-select: none;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    text-align: end;
}

.status > span {
    background-color: rgba(0, 0, 0, 0.7);
}

.controls {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    user-select: none;
    justify-content: space-between;
}

.buttons, .settings {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input, button, select {
    padding: 4px 10px;
    outline: none;
}

select {
    width: 80px;
}

.saveParent {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.saveParent > div {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left {
    width: 55%;
    display: flex;
    flex-direction: column;
}